body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    background: whitesmoke;
}
/* Header section */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #d3d3d3;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    
}

header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
}

.h1-js {
    color:darkred;
}

header p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    align-self: flex-end;
    padding: 5px;
    border: 2px solid black;
}
/* Quiz container section */
/* main article {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 500px;
    max-width: 50%;
    max-height: 500px;
    margin: 30px auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: 20px groove black;
} */


/*  */
#question {
    background: #d3d3d3;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px;
}

#quiz-container {
    min-width: 50%;
    max-width: 850px;
    min-height: 500px;
    max-height: 600px;
    padding: 20px;
    margin: auto;
    border: 20px groove black;
}

/* Quiz button section */

#button-container {
    display: flex;
    flex-direction: column;
    border: 2px dotted red;
    margin-top: 20px;
    margin-bottom: 20px;
}

.quiz-buttons {
    display: inline-block;
    text-align: start;
    margin: 20px;
    font-size: 25px;
    height: 40px;
    background: rgb(170, 78, 231);
    color: white;
    word-wrap: break-word;
}

/* This is the section that controls the "start" button  */
#start-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 30%;
    min-height: 25%;
    max-height: 100%;
    border: 1px dotted blue;

}

#button5 {
    display: none;
    height: 100px;
    width: 250px;
    font-size: 50px;
    margin: auto;
}