body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    background: whitesmoke;
}
/* Header section */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #d3d3d3;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    
}

header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
}

.h1-js {
    color:darkred;
}
/* This is the "Time Left:" & Time styles */
header p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    padding: 0 8px;
    border: 2px solid black;
    border-radius: 5px;
}

#timer {
    font-weight: 500;
    background: #343a40;
    height: 30px;
    width: 45px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    user-select: none;
    transition: all 0.5s ease;

}

.timer-incorrect {
    background: crimson;
    transition: all 0.5s ease;
}
/* Quiz container section */

#question {
    /* display:none; */
    background: #d3d3d3;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}

#quiz-container {
    min-width: 50%;
    max-width: 850px;
    min-height: 500px;
    max-height: 600px;
    padding: 20px;
    margin: auto;
    border: 20px groove black;
    border-radius: 5px;
}

/* Quiz button section */

#button-container {
    /* display: flex; */
    display: none;
    height: 100%;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quiz-buttons {
    flex: 1;
    text-align: start;
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    background: rgb(170, 78, 231);
    color: white;
    word-wrap: break-word;
    transition: all 0.3s ease;

}
/* Global button */
.allbuttons {
    box-shadow: 5px 5px 10px black;
}

/* This is the section that controls the "start" button  */
#start-container {
    /* display:none; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

#button5 {
    padding: 10px 100px; 
    font-size: 50px;
    margin: 100px auto;
    border: 5px solid black;
    transition: all 0.3s ease;
}

/* Results page */

#result-container {
    display:none;
}

#result-container h2 {
    text-align: center;
    background: #d3d3d3;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
    padding: 10px;
}

#result-container p {
    background: #d3d3d3;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 10px;
}
 /* Answer notifier on the bottom */
footer div {
    margin: 30px;
    width: 45vw;
}

footer div span {
    opacity: 0;
    text-align: center;
    font-size: 50px;
    width: 45vw;
    font-weight: 600;
    margin-top: 30px;
    padding: 25px;
    transition: all 1s ease-in-out;
}

.answer-correct {
    opacity: 1;
    background: darkgreen;
    color: white;
    border-left: 25px groove lightgreen;
    transition: all 1s ease-in-out;
}

.answer-incorrect {
    opacity: 1;
    background: darkred;
    color: white;
    border-left: 25px groove red;
    transition: all 1s ease-in-out;
}

/* Form styles */
form {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

form label {
    font-size: 1.5rem;
    font-weight: 500;
}

#initials {
    font-size: 1.5rem;
}

/* Hover settings */
.allbuttons:hover {
    box-shadow: inset 5px 5px 10px black;
    background: darkgrey;
    color: black;
    cursor: pointer;
}

.quiz-buttons:hover {
    border: 2px solid black;
    background: #a173bf;
    box-shadow: inset 5px 5px 10px white;
}